.vs
*.dll
*.apk
TRSTrack/TRSTrack.Android/bin/*
TRSTrack/TRSTrack.Android/obj/*
TRSTrack/TRSTrack.iOS/bin/*
TRSTrack/TRSTrack.iOS/obj/*
TRSTrack/TRSTrack/bin/*
TRSTrack/TRSTrack/obj/*
TRSTrack/TRSTrack.Android\obj/Debug/*
